body {
    font-family: 'Lato', sans-serif;
    color: rgb(83, 83, 83);
    font-size: 16px;
}

.container {
    width: 370px;
    padding: 0px 5px;
    height: fit-content;
}

.saved-heading {
    display: flex;
    color: rgb(83, 83, 83);
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.saved-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.saved-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
}

.saved-item:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.saved-item:first-of-type {
    margin-top: 0px;
}

.saved-item-text-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    text-decoration: none;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.saved-item-text-title {
    text-overflow: ellipsis;
    font-size: 15px;
}

.saved-item-text-time {
    text-overflow: ellipsis;
    font-size: 13px;
    margin-top: 5px;
    color:rgb(143, 143, 143)
}

.saved-item-delete {
    z-index: 10;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: #ca0b0bb4;
    align-items: center;
}

.saved-item-delete:hover {
    background: #000000d3;
}

.saved-item-delete svg {
    height: 15px;
    width: 15px;
}

.saved-not-exist {
    display: none;
    padding-bottom: 10px;
}

#no-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #f06e03b4;
    font-weight: normal;
    background-color: white;
    border: 1px solid #f06e03b4;
    padding-top: 3px;
    padding-bottom: 4px;
    border-radius: 8px;
}

#no-recipe svg {
    fill: #f06e03b4;
    height: 14px;
    width: 14px;
    margin: 0px 5px;
}

.saved-item-image-container {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.saved-item-image-container img{
    max-width: 100%;
    min-height: 80px;
    object-fit: cover;
}

.saved-recipe-image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}


.hidden {
    display: none !important;
}